* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  position: relative;
  background-color: black;
}
.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: rgba(108, 157, 157, 0.766);
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(207, 207, 214);
  color: black;
  padding: 0.5rem 2rem;
  border-radius: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

main .right {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}
.left .code,
.left .review:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}
